/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');


:root {
  --primary-color: #150A41;
  --active-color: #55003B;
}


* {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: 'Mulish', sans-serif;
  color: #111111;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  /* z-index: 20 */
}

input {
	border: none;
	outline: none;
	height: 50px;
	width: 100%;
	cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
	height: 20px;
	width: 20px;
}

a {
  text-decoration: none;
}

::placeholder {
	color: #150a4180;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
	color: var(--primary-color);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
	color: var(--primary-color);
}

.label {
	font-weight: 600;
	margin-bottom: 10px;
}

.page_loader_ctn {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-money {
	border-radius: 6px;
	border: 1px solid var(--primary-color);
	height: 55px;
	width: 100%;
	padding: 0 20px;
}

.form_input {
	border-radius: 6px;
	border: 1px solid var(--primary-color);
	height: 55px;
	width: 100%;
	padding: 0 20px;
}

.input_flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input_ctn {
  width: 100%;
  margin-bottom: 20px;
}

.input_flex_item {
  flex-basis: 48%;
}

.global_btn {
	background-color: var(--primary-color);
	color: white;
	border: 1px solid var(--primary-color);
	padding: 15px 20px;
	border-radius: 10px;
	min-width: 8rem;
	font-weight: 700;
	white-space: nowrap;
}

.global_btn_2 {
	padding: 15px 20px;
	border-radius: 10px;
	min-width: 8rem;
	font-weight: 700;
	border: 1px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
	white-space: nowrap;
}

.form-select {
  position: relative;
  background-color: transparent;
  z-index: 2;
  /* margin-top: 10px; */
  /* margin-bottom: 30px; */
}

.form-select select {
  z-index: 2;
  display: block;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  /* color: #A7ACB1; */
  font-weight: 600;
  background-color: transparent;
  padding: 0 16px 0 20px;
  width: 100%;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-select .arrow {
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 90%;
}

.back_ctn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back_ctn .material-icons-outlined {
  font-size: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 1300px) {
	h1 {
		font-size: 30px;
		line-height: 40px;
	}
}

@media only screen and (max-width: 1200px) {
	h1 {
		font-size: 26px;
		line-height: 36px;
	}
	.product_list_ctn > .card_list > .card_ctn {
    width: 48% !important;
  }
}
@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 500px) {
	.product_list_ctn > .card_list > .card_ctn {
    width: 100% !important;
  }
	.input_flex {
    flex-direction: column;
		margin-bottom: 0;
	}
	.input_flex_item {
		margin-bottom: 20px;
	}
}


/* Vue range slider */

.vue-slider-process {
  background-color: var(--primary-color) !important;
}

.vue-slider-dot-handle-focus {
	border: none !important;
	filter: drop-shadow(0px 4px 10px rgba(21, 10, 65, 0.30));
}

.vue-slider-dot-handle {
	border: none !important;
	filter: drop-shadow(0px 4px 10px rgba(21, 10, 65, 0.30));
}

.vue-slider-dot-tooltip-inner {
	border: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

.vue-slider-dot-tooltip-inner-bottom::after {
	display: none !important;
}

.vue-slider-dot-tooltip-text {
	color: rgba(0, 0, 0, 0.50) !important;
}



/* datepicker */

.dp__input {
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid var(--primary-color) !important;
	background-color: transparent !important;
	height: 55px;
	width: 100%;
	padding: 0 20px;
}


.come-down {
	animation: come-down .5s ease-in-out;
	-webkit-animation: come-down .5s ease-in-out;
}



.reveals {
	animation: reveals .7s ease-in-out;
	-webkit-animation: reveals .7s ease-in-out;
}
@keyframes reveals {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	60% {
		opacity: 1;
		transform: scale(1);
	}
	80% {
		opacity: 1;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.come-down {
	animation: come-down .5s ease-in-out;
	-webkit-animation: come-down .5s ease-in-out;
}

@keyframes come-down {
	0% {
		opacity: 0;
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
	}
		100% {
			opacity: 1;
			transform: translateY(0px);
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			-o-transform: translateY(0px);
	}
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-ms-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}